:root {

    --grid-area-default: 
    "side_menu_header content_header content_header"
    "side_menu_panel content_panel property_panel"
    "side_menu_footer content_footer content_footer";
    
    --grid-rows-default: 
        var(--header-height) 
        auto 
        var(--footer-height);   

    --grid-columns-default: 
        var(--side-menu-width) 1fr; 

    --grid-rows-s-default:
        var(--header-height)
        var(--header-height)
        1fr
        var(--footer-height);


}

html {
    background-color: var(--main-bg-color);
}

