table.fixed_headers {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
  

table.fixed_headers th,
table.fixed_headers td {
    padding: 8px;
    text-align: left;
  }

table.fixed_headers thead {
    background-color: var(--panel-color-dark);
    color: #FDFDFD;
  }

table.fixed_headers thead tr {
    display: block;
    position: relative;
  }

table.fixed_headers tbody {
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  .fixed_headers tbody tr:nth-child(even) {
    background-color: #DDD;
    background-color: var(--blue-lighten-4);
  }

  .fixed_headers tbody tr:nth-child(odd) {
    background-color: #bbb;
    background-color: var(--blue-lighten-3);
  }

  .fixed_headers tbody tr:hover {
    background-color: #FFC107;
  }
  
  .fixed_headers tbody tr:active {
    background-color: #FF9800ff;
  }