table.fixed_headers {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
  

table.fixed_headers th,
table.fixed_headers td {
    padding: 8px;
    text-align: left;
  }

table.fixed_headers thead {
    background-color: #555;
    color: #FDFDFD;
  }

table.fixed_headers thead tr {
    display: block;
    position: relative;
  }

table.fixed_headers tbody {
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  .fixed_headers tbody tr:nth-child(even) {
    background-color: #DDD;
  }

  .fixed_headers tbody tr:nth-child(odd) {
    background-color: #bbb;
  }
  